.station_box{
    margin-top: 30px;
    padding: 30px;
    padding-left: 50px !important;
    padding-right: 50px !important;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 2s;
}
.container{
    margin-bottom: 60px;
}
.form-control, .form-select{
    height: 5vh !important;
    font-size: 15px !important;
}
#addStationBtn{
    padding: 8px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
}
#btn-add, #btn-update, #btn-hide{
    padding: 8px !important;
    width: 80px !important;
}
.fa-edit{
    color: green;
    margin-left: 20px;
    cursor: pointer;
}
.fa-times-circle{
    color: rgb(236, 57, 57);
    margin-left: 20px;
    cursor: pointer;
}
.station_table{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* modal css start  */

#modal{
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
#modal-form h2{
    text-align: center;
    margin: 0 0 15px;
    padding: 10px;
    border-bottom: 1px solid #575757;
    background: #82a0df;
    border-radius: 4px;

}
#modal-form{
    background: #fff;
    width: 50%;
    position: relative;
    top: 10%;
     left: calc(50% - 25%);
    padding: 15px;
    border-radius: 4px;
}
@media screen and (max-width: 700px){
    #modal-form{
        width: 80%;
        left: calc(50% - 40%);
    }
}

.note{
    font-size: 13px !important;

}